body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

%styleResponse {
    background-color: yellow;
    color: red;
    border: 2px dotted blue;
}

#confidence {
    @extend %styleResponse;
}

#polarity {
    @extend %styleResponse;
}

#subjectivity {
    @extend %styleResponse;
}

#subjectivity_confidence {
    @extend %styleResponse;
}